<!-- Swiper -->
<div class="swipe lata">
    <div class="swiper-wrapper">
{% for block in section.blocks %}
{% case block.type %}
{% when 'Lata' %}
    <div class="swiper-slide" style="
        background-image:url({{ block.settings.bg_image | image_url: height: 800 }}); 
        background-size:cover;">
        <div class="contenedor-slider">
            <div class="slider-text">
            <h3>{{ block.settings.title }}</h3>
            {{ block.settings.description }}
            <div class="container-info">
                {% if block.settings.info_1 != blank %}
                <div class="item-info">
                    {{ block.settings.info_1 }}
                </div>
                {% endif %}
                {% if block.settings.info_2 != blank %}
                <div class="item-info">
                    {{ block.settings.info_2 }}
                </div>
                {% endif %}
                {% if block.settings.info_3 != blank %}
                <div class="item-info">
                    {{ block.settings.info_3 }}
                </div>
                {% endif %}
            </div>
            {% if block.settings.url != blank and block.settings.text_button != blank %}
                <a class="item-button" href="{{block.settings.url }}">
                {{ block.settings.text_button }}
                </a>
            {% endif %}
            </div>
            <div class="slider-image">
            {% if block.settings.principal_image != blank %}
                <img src="{{ block.settings.principal_image | img_url: 'master' }}">
            {% endif %}
            </div>
        </div>
        </div>
{% endcase %}
{% endfor %}
</div>
<div class="swiper-button-next-lata"></div>
<div class="swiper-button-prev-lata"></div>
<div class="swiper-pagination-lata"></div>
</div>

<script>
var swiper = new Swiper('.lata', {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    effect:"fade",
    pagination: {
    el: '.swiper-pagination-lata',
    clickable: true,
    renderBullet: function (index, className) {
        const images = [
            {% for block in section.blocks %}
                {% if block.type == "Lata" %}
                    '{{ block.settings.second_image | image_url: width: 90}}',
                {%  endif  %}
            {% endfor %}
        ];
        return `<span class="${className}"><img src="${images[index]}" alt="Slide ${index + 1}"></span>`;
    },
    },
    navigation: {
    nextEl: '.swiper-button-next-lata',
    prevEl: '.swiper-button-prev-lata',
    },
});
</script>