<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<style>
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
min-height: 80vh;
}

.swiper-slide img {
display: block;
height: 75vh;
width: auto;
}

.swiper {
margin-left: auto;
margin-right: auto;
}
.contenedor-slider {
display: flex;
align-items: center;
width: 100%;
margin-bottom: 150px;
}
.slider-text {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 15px;
width: 50%;
padding:7%;
}
.slider-text h3{
    font-weight:900;
}
.slider-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
.container-info{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:30px;
}
a.item-button {
    background: #E94760;
    color: #fff;
    width: 50%;
    padding: 2% 5%;
    border-radius: 5px;
    transition:.8s;
    cursor:pointer;
    margin-top: 20px;
}
a.item-button:hover{
    opacity:0.8;
}
.item-info p{
    margin:0px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: transparent !important;
}
.swiper-pagination {
display: flex;
justify-content:center;
gap: 100px;
height: 90px;
margin-bottom: 50px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    color:#fff !important;
}
/*Tabs*/
.tabs {
margin-top:50px;
display: flex;
gap: 10px;
margin-bottom: 20px;
justify-content:center;
}

.tab-link {
padding: 10px 15px;
cursor: pointer;
background-color: transparent;
border: 1px solid transparent;
border-radius: 5px;
}

.tab-link.active {
background-color: {{ section.settings.colo_tab }};
}

.tab-content {
padding: 0px;
border-radius: 5px;
overflow:hidden;
}

.tab-pane {
display: none;
}

.tab-pane.active {
display: block;
} 
.contenedor-slider {
display: flex;
align-items: center;
width: 100%;
margin-bottom: 150px;
}
.section-tab-caroucel{
    min-height:40vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:url({{ section.settings.bg_image | image_url: height: 800 }});
    background-size:cover;
    padding-top:50px;
}
.title_green{
    background: {{section.settings.color_title_bg}};
    color:{{ section.settings.color_title }};
    padding: 5px 25px;
    border-radius: 25px 0px 25px 0px;
}

@media only screen and (max-width:768px){
    .contenedor-slider {
        flex-direction:column;
    }
    .swiper-slide img {
    display: block;
    height: 55vh;
        width: auto;
    }
    .slider-image {
        width: 100%;
        order:1;
    }
    .slider-text{
        width:100%;
        order:2;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        overflow-x: scroll;
    }
}
</style>

<div class="section-tab-caroucel">
    <div class="title-custom">
        {% if section.settings.img_left != blank %}
          {{ section.settings.img_left | image_url: width:50 | image_tag }}
        {% endif %}
    <h4 class="">{{ section.settings.title }}</h4>
    {% if section.settings.img_right != blank %}
        {{ section.settings.img_right | image_url: width:50 | image_tag }}
      {% endif %}
    </div>
    <div class="tabs">
        <button class="tab-link active" data-tab="tab1">
            {% if section.settings.tab1 != blank %}
                <img src="{{ section.settings.tab1 | img_url: 'master' }}" height="120">
            {% else %}
                Tab 1
            {% endif %}
        </button>
        <button class="tab-link" data-tab="tab2">
            {% if section.settings.tab2 != blank %}
                <img src="{{ section.settings.tab2 | img_url: 'master' }}" height="120">
            {% else %}
                Tab 1
            {% endif %}
        </button>
    </div>
</div>
<div class="tab-content">
    {% if section.blocks != empty  %}
        <div id="tab1" class="tab-pane active">
            {% render 'slider-bolsa' %}
        </div>
        <div id="tab2" class="tab-pane">
            {% render 'slider-lata' %}
        </div>
    {%  else %}
        <div id="tab1" class="tab-pane active">
            {% render 'slider-blank' %}
        </div>
    {% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(".tab-link").click(function() {
    var tabID = $(this).data("tab");
    $(".tab-link").removeClass("active");
    $(this).addClass("active");
    $(".tab-pane").removeClass("active");
    $("#" + tabID).addClass("active");
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% schema %}
{
"name": "tab carousel",
"settings": [
{
    "type": "text",
    "id": "title",
    "label": "Title"
},
{
    "type": "image_picker",
    "label": "img left",
    "id": "img_left",
},
{
    "type": "image_picker",
    "label": "img right",
    "id": "img_right",
},
{
    "type":"color",
    "id": "color_title",
    "label":"color Title",
    "default":"#fff"
},
{
    "type":"color",
    "id": "color_title_bg",
    "label":"color Title BG",
    "default":"#fff"
},
{
    "type": "image_picker",
    "id": "tab1",
    "label": "Tab 1",
},
{
    "type": "image_picker",
    "id": "tab2",
    "label": "Tab 2",
},
{
    "type":"color",
    "id": "colo_tab",
    "label":"color tab"
},
{
    "type":"image_picker",
    "id": "bg_image",
    "label":"BG Image"
}

],
"blocks": [
{
    "type": "Bolsa",
    "name": "Bolsa",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "richtext",
        "id": "info_1",
        "label": "info 1"
    },
    {
        "type": "richtext",
        "id": "info_2",
        "label": "info 2"
    },
    {
        "type": "richtext",
        "id": "info_3",
        "label": "info 3"
    },
    {
        "type": "text",
        "id": "text_button",
        "label": "Text button"
    },
    {
        "type": "url",
        "id": "url",
        "label": "url"
    },
    {
        "type": "image_picker",
        "id": "principal_image",
        "label": "principal image"
    },
    {
        "type": "image_picker",
        "id": "second_image",
        "label": "Second image"
    },
    {
        "type": "image_picker",
        "id": "bg_image",
        "label": "bg image"
    }
    ]
},
{
    "type": "Lata",
    "name": "Lata",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "richtext",
        "id": "info_1",
        "label": "info 1"
    },
    {
        "type": "richtext",
        "id": "info_2",
        "label": "info 2"
    },
    {
        "type": "richtext",
        "id": "info_3",
        "label": "info 3"
    },
    {
        "type": "text",
        "id": "text_button",
        "label": "Text button"
    },
    {
        "type": "url",
        "id": "url",
        "label": "url"
    },
    {
        "type": "image_picker",
        "id": "principal_image",
        "label": "principal image"
    },
    {
        "type": "image_picker",
        "id": "second_image",
        "label": "Second image"
    },
    {
        "type": "image_picker",
        "id": "bg_image",
        "label": "bg image"
    }
    ]
}
],
"presets": [
{
    "name": "tab carousel",
    "category": "Custom"
}
]
}
{% endschema %}
